name: Cypress Tests

on: push

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14.x'

      - name: Install Dependencies
        run: |
          npm install
          export CYPRESS_INSTALL_BINARY=13.3.0
          npm install cypress

      - name: Install and Run Cypress E2E Tests
        run: |
          npx cypress install
          npx cypress run --browser chrome

