name: elice End-to-end tests
on: push
jobs:
  cypress-run:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          node-version: 14.x
          cache: 'npm'
          browser: chrome
          build: npm run build
          start: npm start
          

      

     
       
