name: Cypress Tests

on: push

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2 # 최신 버전으로 업데이트

      - name: Setup Node.js
        uses: actions/setup-node@v2 # 최신 버전으로 업데이트
        with:
          node-version: '16.x' # 명시적으로 노드 16 버전을 사용

      - name: Install Dependencies
        run: |
          npm install
          echo 'export CYPRESS_INSTALL_BINARY=13.4.0' >> $GITHUB_ENV
          npm install cypress

      - name: Run Cypress E2E Tests
        run: |
          npx cypress run --browser chrome