name: Example CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14.x'

      - name: Install Dependencies
        run: npm install

      - name: Run Cypress Tests
        run: npm test

      - name: Cypress E2E Tests
        uses: cypress-io/github-action@v2
        with:
          start: npm start
          browser: chrome